
.descripcion{
    background-color: #D9D9D9;
    width: 100%;
    padding: 2rem;
    
}
.descripcion_titulo{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.descripcion_empresa{
    text-align: justify;
    margin-bottom: 1rem;
}

.descripcion_imagen{
    width: 200px;
    display: flex;
    margin: 0 auto;
}


/* 
1rem = 16px
0.5rem= 8px;
1.5rem = 24px;
2rem = 32px;

*/

/*Responsive*/

@media (min-width:600px) {
    .descripcion_titulo{
        font-size: 4rem;
    }
    .descripcion_empresa{
        font-size: 2rem;
    }
    .descripcion_imagen{
        width: 300px;
    }
}

@media (min-width:1000px) {
    .descripcion_titulo{
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        width: 46%;
        top: 4rem;
        left: 50%;
    }
    .descripcion_empresa{
        /* background-color: aqua; */
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 40%;
        margin-right: 15%;
        margin-top: 10%;
        left: 50%
    }
    .descripcion_imagen{
        position: relative;
        width: 40%;
        display: inline;
        bottom: 4rem;
        right: 50%;
    }
}