.hero{
    width: 100%;
    background: linear-gradient(45deg, rgba(78, 143, 88, 0.5), rgba(0, 0, 255, 0.5)), url('../../assets/hero.jpg');
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    color: white;
    background-position: center center;
    background-size: cover;
}
.hero span{
    width: 30px;
    height: 2px;
    background-color: #4bd7a4;
    margin-bottom: 0.3rem;
}
.hero_title{
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.empresa{
    width: 100%;
    padding: 2rem;
    font-size: 1rem;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logros{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

}
.mision{
    width: 100%;
    background: linear-gradient(45deg, rgba(78, 143, 88, 0.5), rgba(0, 0, 255, 0.5)), url(../../assets/mision.jpg);
    text-align: center;
    padding: 2rem;
    height: 200px;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mision_title{
    font-weight: 400;
    margin-bottom: 0.3rem;
}
.vision{
    width: 100%;
    background: linear-gradient(45deg, rgba(78, 143, 88, 0.5), rgba(0, 0, 255, 0.5)), url(../../assets/vision.jpg);
    text-align: center;
    padding: 2rem;
    height: 200px;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vision_title{
    font-weight: 400;
    margin-bottom: 0.3rem;
}
@media (min-width: 744px){
    .empresa{
        padding: 5rem;
    }
    .logros{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px){
    .empresa{
        padding: 8rem;
    }
    .mision, .vision{
        height: 350px;
    }
}