.Nutricionista_servicio{
    padding: 1.5rem;
}
.Nutricionista_tarjeta{
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    
}
.Nutricionista_imagen{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center top;
}
.Nutricionista_content{
    padding: 1rem;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.Nutricionista_content h3{
    font-weight: 400;
}
@media (min-width:480px) {
    .Nutricionista_tarjetas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
@media (min-width:744px) {
    .Nutricionista_tarjetas{
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
}
@media (min-width:996px) {
    .Nutricionista_servicio{
        padding: 2rem;
    }
    .Nutricionista_tarjetas{
        grid-template-columns: repeat(4,1fr);
        gap: 2rem;
    }
}