.navbar {
    height: 70px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    
    
}

.logo {
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 0.5rem;
}

.nav_items {
    position: absolute;
    top: 60px;
    left: 0px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.5s ease all;
    background-color: var(--background-color);
    padding-bottom: 20px;
    overflow: hidden;
}
.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
}
.auth li .link{
    padding: 0.2rem 1rem 0.2rem 1rem;
    border: 1px solid var(--text-color);
    font-size: 1rem;
}
.nav_items.open {
    transform: translateX(0);
}

.nav_items li {
    font-size: 1.4rem;
    list-style: none;
    padding: 21px;
}

.nav_items li .link{
    margin: 15px;
    color: var(--text-color);
    position: relative;
    text-decoration: none;
    
}

.navbar .nav_items {
    display: flex;
}

.btn_mode{
    padding: 0.5rem;
    border: none;
    outline: none;
    background: transparent;
}
.fas{
    font-size: 1.7rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.fa-sun{
    color: var(--text-color);
}

.nav_toggle {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.nav_toggle span {
    width: 30px;
    height: 4px;
    background-color: var(--text-color);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0;
    transition: all .2s linear;
}

.nav_toggle.open > span{
    transform: rotate(45deg) translate(0px, 0px);
}

.nav_toggle.open > span:nth-child(2) {
    display: none;
}

.nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
}
/* Estilos para tablet y desktop */
@media (min-width: 768px){
    .navbar{
        display: grid;
        grid-template-columns: 1fr 3fr;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
    }
    .nav_items{
        position: static;
        flex-direction: row;
        align-items: center;
        transform: none;
        transition: none;
        padding: 0;
        background-color: transparent;
    }
    
    .nav_items li .link{
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
    .nav_toggle{
        display: none;
    }
}


