.navbar {
    height: 70px;
    background-color: #1B7E69;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    
    
}

.logo {
    font-size: 1.2rem;
    margin: 15px;
    color: white;
}

.nav_items {
    position: absolute;
    top: 60px;
    left: 0px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.5s ease all;
    background-color: #1B7E69;
    padding-bottom: 20px;
    overflow: hidden;
}

.nav_items.open {
    transform: translateX(0);
}

.nav_items li {
    font-size: 1.4rem;
    list-style: none;
    padding: 21px;
}

.nav_items li .link{
    margin: 15px;
    color: white;
    position: relative;
    text-decoration: none;
    
}

.navbar .nav_items {
    display: flex;
}

.nav_toggle {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.nav_toggle span {
    width: 30px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0;
    transition: all .2s linear;
}

.nav_toggle.open > span{
    transform: rotate(45deg) translate(0px, 0px);
}

.nav_toggle.open > span:nth-child(2) {
    display: none;
}

.nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
}
/* Estilos para tablet y desktop */
@media (min-width: 768px){
    .navbar{
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav_items{
        position: static;
        flex-direction: row;
        align-items: center;
        transform: none;
        transition: none;
        padding: 0;
        background-color: transparent;
    }
    
    .nav_items li .link{
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
    .nav_toggle{
        display: none;
    }
}


