.navbar {
    height: 70px;
    background-color: var(--background-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    padding: 1rem;
    position: relative;
    font-weight: 400;
    position: sticky;
    top: 0;
}

.logo_icon{
    width: 30px;
    margin: 0;
}


.logo_text {
    font-size: 1.2rem;
    color: var(--text-color-secondary);
    text-decoration: none;
    margin-left: 0.5rem;
}
.logo_text span{
    color: #1B7E69;
}
.nav_items{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    right: 0;
    justify-content: center;
    height: 100%;
    transform: translateX(-100%);
    transition: 0.5s ease all;
    background-color: var(--background-color-primary);
    padding-bottom: 20px;
    overflow: hidden;
}
.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-direction: column;
}
.auth li .link{
    padding: 0.2rem 1rem 0.2rem 1rem;
    border: 1px solid var(--text-color-secondary);
    font-size: 1rem;
}
.nav_items.open {
    transform: translateX(0);
}

.nav_items li {
    list-style: none;
    padding: 1.2rem 2rem 1.2rem 2rem;
    
}

.nav_items li .link{
    margin: 15px;
    color: var(--text-color-secondary);
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav_items li .link.active{
    color: #1B7E69;
}

.navbar .nav_items {
    display: flex;
}

.btn_mode{
    padding: 0.5rem;
    border: none;
    outline: none;
    background: transparent;
}
.fas{
    font-size: 1.7rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.fa-sun{
    color: var(--text-color-secondary);
}

.nav_toggle {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.nav_toggle span {
    width: 30px;
    height: 4px;
    background-color: var(--text-color-secondary);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0;
    transition: all .2s linear;
}

.nav_toggle.open > span{
    transform: rotate(45deg) translate(0px, 0px);
}

.nav_toggle.open > span:nth-child(2) {
    display: none;
}

.nav_toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
}

@media (min-width: 1024px){
    .navbar{
        display: grid;
        grid-template-columns: 1fr 3fr;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 /*  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)); */
    }
   
    .nav_items{
        position: static;
        transform: none;
        transition: none;
        flex-direction: row;
        padding-bottom: 0;
        height: auto;
    }
    .auth{
        margin-left: 2rem;
        margin-top: 0;
        flex-direction: row;
    }
    .fas{
        position: initial;
        margin: 0;
    }
    .nav_items li{
        padding: 0.5rem;
    }
    .nav_items li .link{
       font-size: 1rem;
    }
    .nav_toogle{
        display: none;
    }
    .nav_toggle span{
        display: none;
    }
}