.testimonios{
    padding: 2rem;
    width: 100%;
    background: #ffffff;
}
.testimonios_image{
    width: 150px;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.testimonios_text{
    text-align: justify;
    margin-bottom: 1rem;
}
.testimonios_esferas{
    display: flex;
    justify-content: center;
    
}
.testimonios_esfera{
    height: 10px;
    width: 10px;
    background: #D9D9D9;
    border-radius: 50%;
    margin-left:0.5rem ;
}
.testimonios_esfera:first-child{
    background: #1B7E69;
}

/*Responsive*/

@media (min-width:600px) {
    .testimonios_image{
        width: 250px;
        height: 250px;
    }
    .testimonios_text{
        font-size: 2rem;
    }
    .testimonios_esfera{
        height: 15px;
        width: 15px;
    }
}