.footer{
    width: 100%;
    background: black;
    padding: 2.5rem;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    row-gap: 1.5rem;
    place-items: center;
}
.footer-box_logo{
    text-align: center;
}
.footer_logo{
    color: var(--text-color-default);
    font-weight: 400;
    font-size: 1.8rem;
}
.footer_page{
    display: flex;
    flex-direction: column;
    
}
.footer_list{
    list-style: none;
    margin-bottom: 0.5rem;
}
.footer_link{
    text-decoration: none;
    color: white;
}
.footer_social{
    grid-column: span 2;
    display: flex;
    justify-content: center;
}
.footer_social_icon{
    margin-bottom: 0.8rem;
    color: white;
    font-size: 1.4rem;
    padding: 0 .6rem;
}

@media (min-width: 744px){
    .footer_logo{
        font-size: 2.2rem;
    }
    .footer_link{
        font-size: 1.2rem;
    }
    .footer_social_icon{
        font-size: 1.8rem;
    }    
}
@media (min-width: 996px){
    .footer{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer_social{
        grid-column: span 1;
    }
}

