* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    
}
body{
    font-family: 'Poppins';
}
:root{
    --background-color-primary: #f5f5f5;
    --background-color-secondary: #f9f9f9;
    --tex-color-primary: #ffffff;
    --text-color-secondary: #000000;
    --text-color-default: #ffffff;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    --background-input-color: #eee;
}

.dark-mode{
    --background-color-primary: #25282D;;
    --background-color-secondary: #161819;
    --text-color-primary: #000000;
    --text-color-secondary: #ffffff;
    --background-input-color: #25282D;
    --box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

